{% extends "layout.html" %}

{% set pageId = "page-search-results" %}

{% block title %}
    <title>Resultado da pesquisa</title><!--titulo da pagina-->
{% endblock title %} 


{% block styles %}
    <link rel="stylesheet" href="/styles/search-results.css">
{% endblock styles %}


{% block content %}
    {% include "partials//page-header.html" %}
    <main>
    {% if total > 0 %}
    <div class="cards">
        {% for place in places %}
         <div class="card">
                <img src="{{ place.image }}" alt="place.name">
                <h1>Colectoria</h1>
                <h3>Residuos Eletronicos, Lâmpadas</h3>
                <p>{{palce.city}},{{place.state}} <br/>
                   {{place.address}}} </b>
                   {{place.address2}}
                </p>
            </div>
        {% endfor %}

    {% endif %}

        <h4>
            <STROng>{{total}} pontos</STROng>ENCONTRADOS
        </h4>
    </main>
{% endblock content %} 



{% block scripts %}

{% endblock scripts %}

